<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/headerAdmin.ejs") %>
    <main>
        <h2>Complaints:</h2>
        <br>
    <table>
        <tr>
            <th>Sno</th>
            <th>Registration Number</th>
            <th>Type</th>
            <th>Description</th>
            <th>Created</th>
        </tr>
        <%
        rows.forEach(row => {
        %> 
            <tr>
                <td> <%-row.Sno%> </td>
                <td> <%-row.RegNo%> </td>
                <td> <%-row.Type%> </td>
                <td> <%-row.Description%> </td>
                <td> <%-row.Time%> </td>
            </tr>
        <%
        });
        %>
    </table>
    </main>
    <%- include("./partials/footer.ejs") %>
</body>
</html>